{% extends "layout.html" %}

{% block content %}
    <section class="section section-shaped section-lg profile-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>მოძებნეთ სასურველი ნომერი</small>
                            </div>
                            <form name="search" role="form" action="{{ url_for('index') }}" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                                        </div>
                                        <input name="phone" class="form-control" placeholder="ტელეფონის ნომერი"
                                               type="tel" pattern="[0-9]{9}" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">ძებნა</button>
                                </div>
                            </form>

                            <div class="status" hidden>
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status"
                                         style="width: 5rem; height: 5rem;">
                                        <span class="sr-only">ძიება...</span>
                                    </div>
                                </div>

                                <div class="text-center text-primary">
                                    <small>მიმდინარეობს მონაცემების ძიება...</small>
                                </div>
                            </div>

                            <div class="card-profile col-12 mt-6 border-top" hidden>
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 order-lg-2 profile-picture-wrapper">
                                        <div class="card-profile-image">
                                            <img src="{{ url_for('static', filename='assets/img/avatar.jpg') }}"
                                                 class="rounded-circle profile-picture">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                                        <div class="card-profile-actions py-4 mt-lg-0">
                                            <a href="#" class="btn btn-sm btn-info mr-4 print-profile">შენახვა</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 order-lg-1">
                                        <div class="card-profile-stats d-flex justify-content-center">
                                            <div>
                                                <span class="heading additional-names-count">5</span>
                                                <span class="description">დამატებითი სახელი</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-5">
                                    <h3 class="name">John Doe</h3>
                                    <div class="h6 font-weight-300">
                                        <i class="ni ni-mobile-button mr-2"></i>
                                        <span class="phone">555555555</span>
                                    </div>
                                </div>
                                <div class="additional-names-wrapper text-center mt-4">
                                    <p class="h6 font-weight-300">დამატებითი სახელები:</p>
                                    <div class="additional-names">
                                        <span class="badge badge-primary">Name 1</span>
                                        <span class="badge badge-info">Name 2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='assets/js/plugins/html2canvas.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/js/search.js') }}" type="text/javascript"></script>
{% endblock %}
