{% extends "layout.html" %}

{% block title %}ჩვენ შესახებ{% endblock %}
{% block description %}ვებ-გვერდი მუშაობს პრინციპით 'მდიდარს ვართმევთ, ღარიბს ვაძლევთ'. ის 'იპარავს' 'მობილური ნომრების ბაზაში' არსებულ მონაცემებს და სანაცვლოდ მას არაფერს არ აძლევს.{% endblock %}

{% block content %}
    <div class="section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="display-3 text-center mb-5">ჩვენ შესახებ</h3>
                    <p>თუ იყენებთ ცნობილ აპლიკაციას - "მობილური ნომრების ბაზა", ჩათვალეთ, რომ თქვენი კონტაქტების სიას
                        ხდით საჯაროს. ეს აპლიკაცია იპარავს თქვენი კონტაქტების ინფორმაციას და თქვენდა დაუკითხავად ანთავსებს
                        მას საკუთარ ბაზაში და ხდის ხელმისაწვდომს სხვა მომხმარებლებისთვის.</p>
                    <p>ჩვენი ვებ-გვერდი - nomrebi.abgeo.dev გაძლევთ საშუალებას, დაუკავშირდეთ "მობილური ნომრების ბაზაში"
                        არსებულ ინფორმაციას უსაფრთხდ. მისი უდაფრთხოება გამოიხატება იმაში, რომ ვებ-გვერდს არ აქვს წვდომა
                        თქვენს მოწყობილობაში არსებულ ნომრებზე, აქედან გამომდინარე ის ვერ მოიპარავს მათ.</p>
                    <p>მოკლედ რომ ვთქვათ, ვებ-გვერდი - nomrebi.abgeo.dev მუშაობს პრინციპით "მდიდარს ვართმევთ, ღარიბს ვაძლევთ".
                        ის "იპარავს" "მობილური ნომრების ბაზაში" არსებულ მონაცემებს და სანაცვლოდ მას არაფერს არ აძლევს.</p>
                    <p>გაითვალისწინეთ, რომ "მობილური ნომრების ბაზა" არ გვაძლევს ინფორმაციას თუ ჩვენ არ ვართ დარეგისტრირებული
                    მათ სისტემაში. აქედან გამომდინარე ჩვენი ვებ-გვერდიც ითხოვს აუთენტიფიკაციას.</p>
                    <p>პროექტი არის Open Source ტიპის და GitHub-ზე შეგიძლიათ კონტრიბუციის გაკეთება -
                        <a href="https://github.com/ABGEO/nomrebi-web" target="_blank">ABGEO/nomrebi-web</a>.</p>
                    <p>შექმნილია <a href="https://www.abgeo.dev/" target="_blank">ABGEO</a>-ს მიერ.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
